main, header, section, aside, footer {
    margin: 0;
    color: #ffffff;
    font-family: sans-serif;
}

  /*navbar*/

  .nav {
    text-align: center;
} 
.icon {
    margin-top: 8px;
    font-size: 25px;
    animation-name: icon;
    animation-duration: 5s;
    animation-iteration-count: 5;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    overflow:hidden;
    width: auto;
    justify-content: center;
    display: flex;
  }
  
  li {
    float: left;
    align-content: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


/*main content*/

main {
  background: #000000;
}

.content {
    background: #31303b;
    flex: 0.5;
    padding-top: 80px;
    padding-left: 40px;
    height: 600px;
}


.sidebar {
    background: #31303b;
    flex: 0.5;
    width: auto;
    justify-content: center;
    display: flex;
}


  /*footer*/
.footer {
    background-color: white;
    height: 180px;
    color: black;
}

.footer-content {
    text-align: center;
    padding-top: 20px;
}







    /*Screen optimized*/
@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }    
}

.main-wrapper {
    margin: auto;
}