main, header, section, aside, footer {
    margin: 0;
    color: #ffffff;
    font-family: sans-serif;
}

  /*navbar*/

  .nav {
    text-align: center;
} 
.icon {
    margin-top: 8px;
    font-size: 25px;
    animation-name: icon;
    animation-duration: 5s;
    animation-iteration-count: 5;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    overflow:hidden;
    width: auto;
    justify-content: center;
    display: flex;
  }
  
  li {
    float: left;
    align-content: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


/*main content*/

main {
  background: #000000;
}

.content {
    background: #31303b;
    flex: 0.5;
    padding-top: 80px;
    padding-left: 40px;
    height: 600px;
}


.sidebar {
    background: #31303b;
    flex: 0.5;
    width: auto;
    justify-content: center;
    display: flex;
}


  /*footer*/
.footer {
    background-color: white;
    height: 180px;
    color: black;
}

.footer-content {
    text-align: center;
    padding-top: 20px;
}



/*Form*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }

  input[type=submit] {
    background-color: rgb(182, 43, 43);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    background-color: #9c1a09;
  }

    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
  }
  
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 300px;
    margin-top: 80px;
    margin-bottom: 100px;
    color: black;
  }



    /*Screen optimized*/
@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }    
}

.main-wrapper {
    margin: auto;
}